html, body {
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
    padding:0;
    height: 100%;
}

.tab {
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab .tablinks {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.box .tab {
  flex: 0 1 auto;
}

.box .tabcontent {
  display: none;
  /*padding: 6px 12px;*/
  flex: 1 1 auto;
  height:100%;
}
.box #guide.tabcontent {
  /*overflow:auto;*/
  overflow-x:visible;
  overflow-y:auto;
  border: 1px solid #999;
}

.box .footer {
  overflow:visible;
  height: 100%;
  flex: 0 1 40px;
}

.box table { 
    border-collapse: separate; 
    border-spacing: 5px; 
    font-size: 90%;
    width: 100%;
}

.box div.preview { 
    font-size: 80%; 
}

.box input[type=text],
.box input[type=password] {
    width: 100%;
    box-sizing: border-box;
    vertical-align: middle;
    margin: 5px 0px 5px 0;
    padding: 5px;
    background-color: #fff;
    border: 1px solid #999;
}

.bluebutton {
    margin: 5px 0px 5px 0;
    padding: 5px 10px;
    background-color: orangered;
    border: 1px solid #999;
    color: white;
    cursor: pointer;
}
.bluebutton.save {
    float: right;
}
.bluebutton:hover {
    background-color: red;
}
.box .footer .bluebutton {
    margin: 5px 5px 5px 5px;
}

.box .footer .changestext {
    float: right;
    margin: 5px 5px 5px 5px;
    padding: 5px 10px;
    font-size: 90%;
}